<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img{
            width: 300px;
            height: 250px;
        }
        .berries{
            display: inline-block;
        }
    </style>
</head>
<body>
    <h1>Список ягод</h1>
    <div>
        {% for list in lists %}
        <div class="berries">
            <img src="{{url_for('static', filename='lab2/' + list.img)}}" alt="{{list.name}}">
            <p>{{list.name}}</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>
