{% extends "base.html" %}

{# Номер лабораторной работы: #}
{% block lab %} Лабораторная работа 7 {% endblock %}

{% block script %}

{% endblock %}

{# Основной контент: #}
{% block main %}
    <h2 style="text-align: center;"> База знаний</h2>
    <div class="block-container">
        <a href="{{ url_for('lab8.register') }}" class="block">Регистрация</a>
        <a href="{{ url_for('lab8.login') }}" class="block">Вход</a>
        <a href="{{ url_for('lab8.article_list') }}" class="block">Статьи</a>
    </div>
    <p style="text-align: right; margin:30px;">
    Anonymous
    </p>
{% endblock %}